[scenario]
	id="4_Revenants"
	map_data="{~add-ons/Mercenary_Band/maps/Revenants.map}"
	name="Ambush in the Night"
	{TURNS 27 26 25}
	next_scenario="5_Siege_of_Elense"
	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}
	
	[story]
		[part]
			story = "They travelled along the road for several days, before coming to another swamp."
		[/part]
		[part]
			story = "Yswen told them it was the confluence of many streams, and that it had flooded the plains after a minor necromancer staged a battle there."
		[/part]
	[/story]

	[side]
		profile = "data/add-ons/War_of_Legends/images/units/human-aragwaithi/flagbearer-attack-s-2.png"
		side=1
		controller=human
		canrecruit=yes
		recruit="Aragwaith Spearman, Aragwaith Swordsman, Aragwaith Archer, Aragwaith Adept, Aragwaith Scout"
		team_name="Aragwaith"
		user_team_name="Aragwaith"
		{GOLD 99 88 77}
		type = "Aragwaith Flagbearer"
		name = _ "male^Madreddoc"
		id="Madreddoc"
		gender=male
		unrenameable=yes
		[modifications]
			{TRAIT_INTELLIGENT}
			{TRAIT_LOYAL}
		[/modifications]
	[/side]
	[side]
		side=2
		controller=ai
		canrecruit=yes
		recruit="Ghost, Skeleton"
		team_name="Undead"
		user_team_name = "Ghosts"
		{GOLD 100 130 160}
		type="Banebow"
		name="Achen"
		id="Achen"
		unrenameable=yes
	[/side]
	[side]
		side=3
		controller=ai
		no_leader = yes
		team_name = "Undead"
		user_team_name = "Revenants"
	[/side]

	[event]
        	name=prestart

        	[objectives]
            		side=1
           	[objective]
                	condition=win
                	description= _ "Defeat the enemy leaders"
            	[/objective]
            	[objective]
                	condition=lose
                	description= _ "Death of the heroes."
           	[/objective]
		{TURNS_RUN_OUT}
        	[/objectives]
		[recall]
			id=Sengir
			x=6
			y=17
		[/recall]
		[recall]
			id=Asven
			x=7
			y=19
		[/recall]
		[recall]
			id=Yswen
			x=3
			y=19
		[/recall]

#stolen from Eastern Invasion.
#define UNDEAD_AMBUSH_AREA SIDE X_SPAN Y_SPAN NUMBER
    [random_placement]
        variable=ambush_location
        num_items={NUMBER}
        [filter_location]
            x={X_SPAN}
            y={Y_SPAN}
	    terrain=Ss
        [/filter_location]
        [command]
            [unit]
                x,y=$ambush_location.x,$ambush_location.y
                type=Revenant
                side={SIDE}
                role=ambusher
                random_traits=yes
                upkeep=loyal
            [/unit]

            [object]
                silent=yes

                [filter]
                    x,y=$ambush_location.x,$ambush_location.y
                [/filter]

                [effect]
                    apply_to=new_ability

                    [abilities]
                        [hides]
                            id=undead_ambush
                            affect_self=yes

                            [filter_self]
                                role=ambusher
                            [/filter_self]
                        [/hides]
                    [/abilities]
                [/effect]
            [/object]
        [/command]
    [/random_placement]
#enddef

#ifdef EASY
	{UNDEAD_AMBUSH_AREA 3 1-23 1-14 15}
	#15 units scattered across the map
#endif
#ifdef NORMAL
	{UNDEAD_AMBUSH_AREA 3 1-23 1-15 25}
	#25 units scattered across the map
#endif
#ifdef HARD
	{UNDEAD_AMBUSH_AREA 3 1-23 1-16 35}
	#35 units scattered across the map
#endif
	[/event]

	[event]
		name=start
		[message]
			speaker = Asven
			message = _ "Be on your guard! This swamp is notorious for undead, but it is the shortest route to Elensefar."
		[/message]
		[message]
			speaker = Achen
			message = _ "Icharen made me guard this land. Leave or I will shoot."
		[/message]
		[message]
			speaker = Madreddoc
			message = _ "Who is this Icharen?"
		[/message]
		[message]
			speaker = Yswen
			message = _ "An old necromancer who once tried to conquer Elensefar. He is long dead, along with the other would-be conquerers."
		[/message]
		[message]
			speaker = Achen
			message = _ "We will slay you!"
		[/message]
		[message]
			speaker = Sengir
			message = _ "Our arrows are superior!"
		[/message]
		[message]
			speaker = Yswen
			message = _ "No, Sengir! The skeletons are extremely hard to wound with arrows and spears!"
		[/message]
	[/event]

	[event]
		name=last breath
		[filter]
			id=Achen
		[/filter]
		[message]
			speaker=Achen
			message = _ "*snap* *clatter* *clatter* *thunk*"
		[/message]
	[/event]

	[event]
		name=last breath
		[filter]
			id=Madreddoc
		[/filter]
		[message]
			speaker = Madreddoc
			message = _ "No! I am defeated!"
		[/message]
		[endlevel]
			result = defeat
		[/endlevel]
	[/event]

	[event]
		name=last breath
		[filter]
			id=Sengir
		[/filter]
		[message]
			speaker=Sengir
			message = _ "I have no arrows, the enemies are charging towards me. I... I am about to die."
		[/message]
		[endlevel]
			result = defeat
		[/endlevel]
	[/event]

	[event]
		name=last breath
		[filter]
			id=Asven
		[/filter]
		[message]
			speaker = Asven
			message = _ "This adventure... over... too soon."
		[/message]
		[endlevel]
			result = defeat
		[/endlevel]
	[/event]

	[event]
		name=last breath
		[filter]
			id=Yswen
		[/filter]
		[message]
			speaker = Yswen
			message = _ "I... I can taste blood... the pain..."
		[/message]
		[endlevel]
			result = defeat
		[/endlevel]
	[/event]
	
[/scenario]

